.homepage_component {
    margin: 2%;
}

.homepage_component_search {
    float: right;
    height: 150px;
    padding: 10px;
}

.homepage_component_fixed_height_genre {
    height: 300px;
}

.homepage_component_fixed_height {
    height: 400px;
}
