.movies_container {
    margin: 2%;
}

.movies_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.movie_info {
    display: flex;
    flex-wrap: wrap;
}

.movieCard {
    height: 22rem;
    width: 18rem;
    background: rgba(20,20,20,.445);
    overflow: hidden;
    border-radius: 3px;
    margin: 1rem 0;
    cursor: pointer;
}

.movie_image {
    height: 80%;
    width: 100%;
}

p {
    text-align: center;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    color: #fff;
    font-weight: 600;
    overflow: hidden;
}

a {
    display: contents;
    text-decoration: none;
}