.movies_container {
    margin: 2%;
}

.movies_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.movie_info {
    display: flex;
    flex-wrap: wrap;
}

.movieCard {
    height: 33rem;
    width: 18rem;
    background: rgba(20,20,20,.445);
    overflow: hidden;
    border-radius: 3px;
    margin: 1rem 0;
    cursor: pointer;
    color: white;
}

.movie_image {
    height: 85%;
    width: 100%;
}


a {
    display: contents;
    text-decoration: none;
}

img {
    object-fit: cover !important;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .movie_image {
        height: 85%;
        width: 100%;
    }
    img {
        object-fit: cover !important;
        height: 100%;
    }
    .movieCard {
        height: 35rem;
        width: 18rem;
        background: rgba(20,20,20,.445);
        overflow: hidden;
        border-radius: 3px;
        margin: 1rem 0;
        cursor: pointer;
        color: white;
    }
}