.movieInfo_component {
    margin: 2%;
}

.textColor {
    color: white;
}

.textStyle {
    font-style: italic;
}

.movieInfo_details {
    margin: 5%;
}

p {
    text-align: left !important;
}

.anticon {
    color: yellow !important;
}

.ant-tabs-tab {
    color: white !important;
}

.ant-tabs {
    width: 100% !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white;
    text-shadow: 0 0 0.25px currentColor;
}