.genre_name {
    text-align: center;
}

.genre_name, .title {
    color: white;
}

.genres_list {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    position: absolute;
    margin: 2%;
    width: 95%;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}


.image {
    padding-right: 10px;
    height: 100px;
}

/* @media only screen and (max-width: 600px) {
    .genres_list {
        display: flex;
        justify-content: space-between;
        width: 95% !important;
        overflow: auto;
        position: absolute;
        margin: 2%;
    }
} */