.genre_name {
    text-align: center;
}

.genre_name, .title {
    color: white;
}

.genres_list {
    display: flex;
    justify-content: space-between;
    width: 100% ;
    overflow: auto;
    position: absolute;
    margin: 2%;
    width: 90%;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}


.image {
    padding-right: 10px;
    height: 100px;
}